body {
    max-width: 100%; 
    display: grid;
    grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
    }
   main,header,footer {
    border: 1px solid #ccc7c8;
    border-radius: 5px;
  }
  header {
    grid-area: header-cell;
    margin-bottom:2px;
    height:100px;
    padding:0 5px;
  }
  nav{
    grid-area: nav-cell;
    margin-top:20px; 
  } 
  main{
      grid-area: main-cell;
      display: grid;
      z-index: 2;
  }
  footer {
    grid-area: footer-cell;
    margin-top:2px;
    }






*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    background: radial-gradient(rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%,#ED9A66 100%);
}
#test{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.test-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.test-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.test-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.box{
    border-radius: 30px;
    width: 500px; /*độ rộng của box*/
    box-shadow: 2px 2px 30px  rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}

.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1.rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;

}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

/*chân trang*/
.gotop
{
	position: fixed;
	bottom: 5px;
	right:10px;
	z-index:100;	
}


